/* Write your CSS here */
.button {
  color: #7b8794;
  background-color: transparent;
  border-width: 0px;
  margin: 10px;
  font-size: 18px;
  font-family: 'Bree Serif';
}
.button-mark{
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}